:root {
  --orange: #d99e6a;
  --purple: #4B4453;
  --black: #0d0d0d;
  --gray: #737373;
  --darkPurple: #1a202c;
}

@font-face {
  font-family: "UnifrakturCook";
  src: url("../src/asset/UnifrakturCook-Bold.ttf");
}

*:focus {
  outline: none;
  box-shadow: none !important;
}

/* SWITCH BOXSHADOW */
.css-ddil6j:focus,
.css-ddil6j[data-focus] {
  box-shadow: none !important;
}

#buttons-div-image {
  top: 5rem;
  position: absolute;
  display: flex;
  justify-content: center;
}

.underline {
  border-bottom: 1px dotted var(--gray);
}

.box-carousel {
  height: 2em;
}

.flex {
  display: flex;
}

.box-carousel-wrap {
  height: 6em;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
}

#inside-image {
  display: none;
}

#outside-image {
  height: 11rem;
  display: flex;
}


.title-bg {
  font-size: 2rem !important;
}

.title-md {
  font-size: 1.375rem !important;
}

.title-sm {
  font-size: 1.125rem !important;
}

.container-mediaquery-responsive-display {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

#academic-big {
  display: none;
}

#academic-small {
  display: fle;
}

.maintenance-wrap {
  margin: 0 auto;
  position: fixed;
  z-index: 13;
  top: 20px;
  width: 100%;
}

.maintenance-wrap>div {
  cursor: pointer;
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 55%;
  margin: 0 auto;
  background-color: rgba(241, 241, 25, 0.906);
  border-radius: 6px;
  min-height: 40px;
}

.maintenance-wrap>div>div:nth-child(1) {
  width: 5%;
}

.maintenance-wrap>div>div:nth-child(1)>svg {
  margin: 0 auto;
}

.maintenance-wrap>div>div:nth-child(2) {
  width: 90%;
  text-align: center;
}

.maintenance-wrap>div>div:nth-child(3) {
  width: 5%;
}

@media only screen and (min-width: 768px) {
  .maintenance-wrap>div {
    width: 75%;
  }

  #academic-big {
    display: flex;
  }

  #academic-small {
    display: none;
  }

  .title-bg {
    font-size: 2.5rem !important;
  }

  .title-md {
    font-size: 1.875rem !important;
  }

  .title-sm {
    font-size: 1.625rem !important;
  }

  .title-esm {
    font-size: 1.225rem !important;
  }

  .container-mediaquery-responsive-display {
    display: flex;
    flex-direction: row;
  }

  #inside-image {
    display: flex;
    height: 8rem;
  }

  #outside-image {
    display: none;
  }

  .box-text-child {
    margin: 70px 15px 0 15px;
  }

  .header-container {
    display: flex;
  }

  .header-center-box {
    width: 70%;
  }

  .header-center-box:nth-child(1) {
    width: 30%;
  }

  .content-container-hp {
    display: flex;
  }

  .content-container-child {
    align-items: right;
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .content-container-child:nth-child(2) {
    width: 70%;
  }
}

@media only screen and (max-width: 768px) {
  .box-text-child {
    margin: 15px 0;
  }

  .header-center-box:nth-child(3) {
    display: none;
  }

  .header-center-box {
    width: 100%;
    margin: 0 auto;
  }

  .content-container-hp {
    display: block;
  }

  .content-container-child {
    width: 100%;
  }
}

@media only screen and (max-width: 968px) {
  #academic-big>div {
    flex-direction: column;
  }

  #academic-big>div>div {
    margin-right: auto;
    margin-left: auto;
  }
}

#__next,
body {
  outline: none;
  margin: 0;
  background-color: #0d0d0d;
  scrollbar-width: thin;
}

body::-webkit-scrollbar {
  display: none;
}

.lf {
  width: 180px;
  height: 25px;
  background-color: rgb(75, 68, 83);
  display: flex;
  border: 1px solid #0d0d0d;
  border-radius: 0px 4px 4px 0px;
  z-index: 0;
}


.lf>div {
  z-index: 5;
}

.lf:not(:last-child) {
  margin-bottom: 10px;
}

.louter {
  z-index: 3;
  background-color: blue;
}

.lfs {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
}

.lfs2 {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.125em;
}

.lfs2:not(:last-child) {
  border-right: 4px solid #0d0d0d;
}

.ll {
  margin-top: 1px;
  background-color: rgb(117, 77, 69);
  height: 23px;
  position: absolute;
  z-index: 2;
}

.second-level {
  background-color: rgb(14, 114, 5);
  z-index: 1;
}

.lfs:not(:last-child) {
  border-right: 4px solid #0d0d0d;
}

.lt {
  margin: 10px 0;
}

.lh {
  text-align: center;
  font-size: 1.125em;
  letter-spacing: 0.4px;
  font-weight: 500;
}

.geral-text2 {
  font-family: "Prompt", sans-serif;
  color: var(--black);
  font-weight: 600;
}

.geral-text {
  font-family: "Prompt", sans-serif;
  color: var(--orange);
}

.yj-logo {
  font-family: "UnifrakturCook";
  font-weight: bold;
}

.react-flow__attribution {
  font-family: "Prompt", sans-serif;
  background: transparent !important;
  color: white !important;
  border: 2px solid #4B4453;
  border-radius: 4px;
  opacity: 0.5;
}

.react-flow__attribution a {
  padding: 0 5px;
}

.react-flow-provider {
  border-right: 1px dotted;
  border-left: 1px dotted;
}

.scroll-bar-point {
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid var(--orange);
  border-radius: 15px;
  background-color: var(--black);
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  font-family: "Prompt", sans-serif;
  position: relative;
  top: 50%;
  width: 85px;
  height: 30px;
  cursor: pointer;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 10px;
}

.button.b2 {
  border-radius: 2px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background: transparent;
  transition: 0.3s ease all;
  z-index: 3;
  border: 2px solid var(--gray)
}


#switch .knobs:before {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "pt-BR";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 42.5px;
  height: 26px;
  color: var(--gray);
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  border-radius: 7px;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}

#switch .checkbox:checked+.knobs:before {
  color: var(--black);
  content: "en-US";
  left: 40px;
  background-color: var(--gray);
}

.academy-extra-info {
  padding: 0em 1em;
  position: absolute;
  overflow: hidden;
  background-color: var(--black);
  z-index: 1;
}

.academy-extra-info:nth-child(2) {
  z-index: 2;
}

.fit-content {
  width: fit-content;
  width: -webkit-fit-content;
}

.wrap-box-carousel {
  height: 15em;
}